.jumbotron {
    position: relative;
}

.lead {
    display: flex;
    flex-wrap: wrap;
}

.container img {
    border-radius: 50%;
    height: 150px;
    width:150px;
    position: absolute;
    top: 30px;
    right: 0;
}

